.header {
  width: 100vw;
  height: 100px;
  display: flex;
  padding: 2vh 3vw;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.top-header{
  font-family: 'Secular One', sans-serif;
}

.myshop {
  text-decoration: none;
  color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.user-header{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header-user{
  text-decoration: none;
  margin-right: 8px;
  color: black;
}