<%= render 'shared/header' %>

<div class="purchase-success">
  <div>
  購入が完了しました！ありがとうございました！！
  </div>
  <div class="purchase-done-link">
    <%= link_to "トップへ戻る", root_path, class:"action-link"%>
  </div>
</div>