<div class="customer-edit">
  <div class="customer-imfomation-edit">
    <%= link_to "個人情報の編集", edit_customer_registration_path(current_customer), class:"customer-edit-link"%>
  </div>
  <div class="customer-card">
    <%= link_to "カード情報の登録", "#", class:"customer-card-new-link"%>
  </div>
