.item-new {
  font-family: 'Nunito', 'Kosugi', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 80px
}

.item-new-top {
  width: 650px;

}

.item-new-shop-name {
  height: 50px;
  padding: 5px 10px;
  font-size: 30px;
}

.item-new-item-explain {
  font-size: 15px;
  padding-top: 20px;
}

.item-new-item {
  width: 650px;
}

.item-new-item-image{
  margin-top: 20px;
  font-size: 20px;
}
.item-new-item-images-select{
  padding-bottom: 20px;
  width: 460px;
}
.item-new-image-label{
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  display:block;
  font-size:14px;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 230px;
}

.item-new-image-label::before{
  content:"＋";
  color:#333333;
  font-size:20px;
  line-height:1;
  margin-top: -9px;
  right:10px;
  position:absolute;
  top:50%;
}

.item-new-item-name {
  margin-top: 10px;
}

.item-new-item-name {
  font-size: 20px;
  margin: 5px 0 0 0;
}

.item-new-name-input {
  background: #fff;
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  height: 40px;
  width: 295px;
}

.item-new-item-price {
  font-size: 20px;
  margin-top: 20px;
}

.item-new-item-price-input {
  background: #fff;
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  height: 40px;
  width: 280px;
}

.item-new-item-text {
  font-size: 20px;
  margin-top: 20px;
}

.item-new-item-text-input {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 120px;
  width: 600px;
}

.item-new-item-category {
  font-size: 20px;
  margin-top: 20px;
}

.item-new-item-category-select {
  background:#FFFFFF;
  border: 1px solid #999999;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 230px;
}

.item-new-item-size {
  font-size: 20px;
  margin-top: 20px;
}

.item-new-item-size-input {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 120px;
  width: 600px;
}

.item-new-item-shipping {
  font-size: 20px;
  margin-top: 20px;
}

.item-new-item-shipping-select {
  background:#FFFFFF;
  border: 1px solid #999999;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 230px;
}

.item-new-item-shipform {
  font-size: 20px;
  margin-top: 20px;
}

.item-new-item-shipfrom-select {
  background:#FFFFFF;
  border: 1px solid #999999;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 230px;
}

.item-new-item-imformation {
  font-size: 20px;
  margin-top: 20px;
}

.item-new-imformtaion-input {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 120px;
  width: 600px;
}

.item-new-item-listing {
  background-color: #FFFFFF;
  border:1px solid #FFAF42;
  border-radius: 2px;
  color: #dbb34d;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 230px;
}

.item-new-item-listing:hover {
  background-color: #FFAF42;
  color: #FFFFFF;
}

.item-new-complete {
  display: flex;
  justify-content: space-between;
}