<%= render 'shared/header' %>

<div class="shop_name">
    <h2> </h2>
  </div>
  <div class="shop_text">
    <%= @item.name %>
  </div>
  <div class="shop_image">
    <%= image_tag(@item.image) %>
  </div>
  <div class="shop_text">
    <%= @item.text %>
  </div>
  <div class="item_purchase">
    購入する
  </div>