<h2>登録が完了しました</h2>
<%= link_to "トップへ戻る", root_path%>
  <div class="link_to_shop" >
    引き続き店舗の設定を行いましょう！
    <%= link_to '店舗の設定を行う', '/shops/new' %>
    <%= link_to "ログアウト", destroy_shopkeeper_session_path, method: :delete %>
  </div>