
.top {
  display: flex;
  justify-content: center;
  overflow: scroll;
  margin-top: 30px;
  font-family: 'Nunito', 'Kosugi', sans-serif;
}

.main-left {
  width: 200px;
}

.search-shops h4 {
  color: #333333;
  border-bottom:1px solid #DDDDDD;
  width: 170px;
}
.shop-search {
  list-style: none;
  padding-left: 0;
}

.shop-search li {
  background-color: #FFFFFF;
  border-bottom:1px solid #DDDDDD;
  border-radius: 2px;
  color: #999999;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 170px;
}

.shop-search li:hover {
  background-color: #F5F5F5;
  color: #333333;
}

.parent-category {
  text-decoration: none;
}

.main-right {
  width: 1000px;
  margin: 0 0 0 10px;
}

.main-right-image {
  padding: 0 30px;
}

.main-image {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.main-shops {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  flex-wrap: wrap;
}

.main-shops-list {
  width: 470px;
  height: 400px;
  font-family: 'Nunito', 'Kosugi', sans-serif;
  margin: 0 5px 20px 0;
}

.main-shops-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.main-shops-link:hover {
  opacity: 0.75;
  color: black;
}

.main-shop-name {
  color: black;
  font-size: 30px;
  padding: 0 10px;
  position: relative;
  padding: 0 .5rem;
}

.main-shop-name:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  content: '';
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.main-shop-image{
  width: 45vh;
  height: 35vh;
  margin: 30px 0;
}

.main-shop-text{
  color: black;
  padding: 0 10px;
}

