.shop-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Nunito', 'Kosugi', sans-serif;
  margin-top: 40px;
}

.shop-field {
  padding-top: 15px;
}

.shop-field-input {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 45px;
  width: 400px;
}

.shop-label {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  display:block;
  font-size:14px;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 230px;
}

.shop-label::before{
  content:"＋";
  color:#333333;
  font-size:20px;
  line-height:1;
  margin-top: -9px;
  right:10px;
  position:absolute;
  top:50%;
}

.shop-field-select {
  background:#FFFFFF;
  border: 1px solid #999999;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 230px;
}

.shop-new-shop-text {
  font-size: 20px;
  margin: 20px 0 0 0;
}

.shop-field-area-input {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 150px;
  width: 400px;
}

.shop-open-close {
  background-color: #FFFFFF;
  border:1px solid #FFAF42;
  border-radius: 2px;
  color: #dbb34d;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 230px;
}

.shop-complete {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.shop-open-close:hover {
  background-color: #FFAF42;
  color: #FFFFFF;
}

.shop-new-imformation {
  margin-top: 45px;
}