.shops-show-main {
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.shops-show-left {
  width: 300px;
  background-color: #F5F5F5;
}

.shops-show-right {
  width: 1000px;
  margin: 0 0 0 10px;
  padding-left: 100px;
}

.shops-show-shop {
  height: 800px;
}

.shops-show-shop-top{
  display: flex;
  justify-content: space-between;
}

.shops-show-shop-name {
  font-family: 'Nunito', 'Kosugi', sans-serif;
  font-size: 35px;
}

.shops-show-shopkeeper-link{
  display: flex;
}

.shops-show-edit {
  width: 230px;
  padding:15px;
  color:#ffffff;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  background: #dbb34d;
  display: block;
  position:relative;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.shops-show-edit::before{
  content: '';
  width: 16px;
  height: 16px;
  margin:-8px 0 0 0;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  background: #fff;
  position:relative;
  position:absolute;
  top:50%;
  left:20px;
  display:block;
}

.shops-show-edit::after{
  content: '';
  width: 4px;
  height: 4px;
  border: 0px;
  margin:-3px 0 0 0;
  border-top: solid 2px #DEB887;
  border-right: solid 2px #DEB887;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position:absolute;
  top:50%;
  left:24px;
  display:block;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.shops-show-edit:hover{
  background: #FFAF42;
}
.shops-show-edit:hover::after{
  border-top: solid 2px #DEB887;
  border-right: solid 2px #DEB887;
}

.shops-show-new {
  width: 230px;
  padding:15px;
  margin-right: 5px;
  color:#ffffff;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  background: #dbb34d;
  display: block;
  position:relative;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.shops-show-new::before{
  content: '';
  width: 16px;
  height: 16px;
  margin:-8px 0 0 0;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  background: #fff;
  position:relative;
  position:absolute;
  top:50%;
  left:20px;
  display:block;
}

.shops-show-new::after{
  content: '';
  width: 4px;
  height: 4px;
  border: 0px;
  margin:-3px 0 0 0;
  border-top: solid 2px #DEB887;
  border-right: solid 2px #DEB887;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position:absolute;
  top:50%;
  left:24px;
  display:block;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.shops-show-new:hover{
  background: #FFAF42;
}
.shops-show-new:hover::after{
  border-top: solid 2px #DEB887;
  border-right: solid 2px #DEB887;
}

.shops-show-shop-image{
  height: 420px;
  margin-bottom: 5px;
}

.shops-show-image {
  width: 68vh;
  height: 46vh;
}

.shops-show-shop-text {
  margin-top: 20px;
  font-family: 'Nunito', 'Kosugi', sans-serif;
  font-size: 18px;
  color: #444444;
}

.shops-show-items-show-title {
  font-family: 'Nunito', 'Kosugi', sans-serif;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px #777777;
}

.shops-show-items-show {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 4px;
}

.shops-show-items-list {
  width: 290px;
  padding-right: 3px;
}

.shops-show-item-image {
  width: 30vh;
  height: 23vh;
}

.shops-show-item-link {
  text-decoration: none;
  color: #444444;
  font-family: 'Nunito', 'Kosugi', sans-serif;
}

.shops-show-item-link:hover {
  opacity: 0.75;
  color: #444444;
  text-decoration: underline;
}

.shops-show-items-detail {
  display: flex;
}

.shops-show-items-name{
  margin-right: 10px;
}



